
@font-face {
  font-family: "Rubik";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url('/www/fonts/Rubik/Rubik-Light.woff2') format('woff2'), /* Pretty Modern Browsers */
       url('/www/fonts/Rubik/Rubik-Light.woff') format('woff'), /* Pretty Modern Browsers */
       url('/www/fonts/Rubik/Rubik-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: "Rubik";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('/www/fonts/Rubik/Rubik-Regular.woff2') format('woff2'), /* Pretty Modern Browsers */
       url('/www/fonts/Rubik/Rubik-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('/www/fonts/Rubik/Rubik-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: "Rubik";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url('/www/fonts/Rubik/Rubik-Medium.woff2') format('woff2'), /* Pretty Modern Browsers */
       url('/www/fonts/Rubik/Rubik-Medium.woff') format('woff'), /* Pretty Modern Browsers */
       url('/www/fonts/Rubik/Rubik-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
}


@font-face {
  font-family: "Rubik";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('/www/fonts/Rubik/Rubik-Bold.woff2') format('woff2'), /* Pretty Modern Browsers */
       url('/www/fonts/Rubik/Rubik-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('/www/fonts/Rubik/Rubik-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
}


@font-face {
  font-family: "Rubik";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url('/www/fonts/Rubik/Rubik-Black.woff2') format('woff2'), /* Pretty Modern Browsers */
       url('/www/fonts/Rubik/Rubik-Black.woff') format('woff'), /* Pretty Modern Browsers */
       url('/www/fonts/Rubik/Rubik-Black.ttf')  format('truetype'), /* Safari, Android, iOS */
}
