/* Vars:
   ========================================================================== */

// Main color
$default-color           : #ffffff;

// Blue
$primary-color           : #4e67fd;
$button-blue:#494ce8;
$primary-title           : #6364fe;
$primary-light           : #ccd2fa;
$text-light              : #647298;
$bg-dark                 : #dcdaea;
// Red
$danger-color            : #ff283b;
$danger-light            : #facccc;
$danger-top              : #ed6d4a;
// Grey
$light-color             : #a8b1c6;

$success-color           : #aec225;
$warning-color           : #fed330;
$purple-color            : #8854d0;

// Neutral Color
$neutral-primary         : #303133;
$neutral-regular         : #606266;
$neutral-secondary       : #929db8;
$neutral-placeholder     : #C0C4CC;

// Border Color
$border-base             : #DCDFE6;
$border-light            : #E4E7ED;
$border-lighter          : #EBEEF5;
$border-lightex          : #F2F6FC;
